/*
** Основные переменные шаблона
*/
:root {
	--color-primary: #657984;
	--color-secondary: #B78D70;
	--color-tertiary: #F1BDBC;
	--color-disabled: #CDC6CE;
	--color-shadow: #49525720;
	--color-border: #CDC6CE;
	--color-border-secondary: rgb(205 198 206 / 50%);
	--color-gray: #B6C2CE;
	--color-error: #F9504D;
	--color-text-primary: #635258;
	--color-text-secondary: #423B3D;
	--scrollbar-width: 16px;
	--scrollbar-width-thin: 8px;
	--transition: all 300ms ease;
	--duration: 300ms;
	--border-radius: 4px;
	--font-primary: 'Jost', 'Arial', sans-serif;
	--font-secondary: 'Gilroy', 'Jost', 'Arial', sans-serif;

	/* Глобальные настройки переменных */
	--button-small: 32px;
	--button-medium: 40px;
	--button-large: 48px;
	--button-x-large: 52px;
	--text-size-small: 12px;
	--text-size-regular: 14px;
	--text-size-medium: 16px;
	--text-size-large: 18px;
	--text-height-small: 16px;
	--text-height-regular: 18px;
	--text-height-medium: 20px;
	--text-height-large: 24px;
	--icon-size-small: 14px;
	--icon-size-regular: 16px;
	--icon-size-medium: 20px;
	--icon-size-large: 24px;
	--heading-01: 36px;
	--heading-02: 32px;
	--heading-03: 28px;
	--heading-04: 24px;
	--heading-05: 20px;
	--heading-06: 18px;
}

/*
** Скеции
*/
.section {margin-block: 64px;position: relative;}
.section:hover {z-index: 2;}

/*
** Заголовки основных блоков
*/
.headline {margin-bottom: 16px;}
.headline nav {margin-bottom: 12px;}
.headline__title {font-size: var(--heading-03);}
.headline__title small {font-size: var(--text-size-regular);white-space: nowrap;text-transform: lowercase;}
.headline--navigation {display: flex;gap: 12px;align-items: center;justify-content: space-between;}
.headline--navigation .swiper-navigation {position: relative;display: flex;align-items: center;width: 96px;}
.headline--navigation :is(.swiper-button-prev, .swiper-button-next) {background-color: #CDC6CE40;border-radius: 100%;}
.headline--navigation :is(.swiper-button-prev, .swiper-button-next)::after {--swiper-navigation-size: 16px;}
.headline--navigation .swiper-button-disabled {--swiper-navigation-size: 38px;}


/*
** Наведение на иконки 
*/
.icon-hover__active {opacity: 0;}
.icon-hover__active, .icon-hover__inert {transition: opacity var(--duration);}
.icon-hover:active .icon-hover__active {opacity: 1;}
.icon-hover:active .icon-hover__inert {opacity: 0;}
.icon-hover.is-added .icon-hover__active {opacity: 1;}
.icon-hover.is-added .icon-hover__inert {opacity: 0;}
@media (hover: hover) and (pointer: fine) {
	.icon-hover:hover .icon-hover__active {opacity: 1;}
	.icon-hover:hover .icon-hover__inert {opacity: 0;}
}

/*
** Swiper слайдер
*/
.swiper {width: 100%;}
:is(.swiper-button-next, .swiper-button-prev) {
	--swiper-navigation-size: 46px;
	--swiper-navigation-sides-offset: 0;
	--swiper-navigation-color: var(--color-text-primary);
	z-index: 4 !important;
	width: var(--swiper-navigation-size) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	opacity: 0.5; 
	transition: background var(--duration);
}
:is(.swiper-button-next, .swiper-button-prev):hover {opacity: 1;}

/*
** Шапка
*/
#header {padding-block: 12px;border-bottom: 1px solid var(--color-border);}
.header__inner {display: flex;flex-wrap: wrap;gap: 16px;align-items: center;}
.header__inner--bottom {padding-top: 16px;}
.header__slogan {margin-right: auto;}
.header__contacts {display: flex;gap: 16px;}
.header__contacts .contacts__link {font-weight: bold;font-size: var(--text-size-large);font-family: var(--font-secondary);line-height: var(--text-height-large);}
#header .button-icon {height: 40px;color: var(--color-text-primary);}
@media all and (min-width: 1024px) {
	.header__inner--middle {padding-top: 16px;}
}
@media all and (min-width: 1440px) {
	.header__inner {gap: 16px 40px;}
}
@media all and (max-width: 1023px) {
	.header__inner--top {display: none;}
	.header__inner--middle {justify-content: space-between;}
}

/* Шапка. Добавить в... */
.header__addto {display: flex;align-items: center;margin-left: auto;column-gap: 32px;}
.addto__link {
	position: relative;
	display: flex;
	align-items: center;
	font-size: var(--text-size-large);
	line-height: var(--text-height-large);
	column-gap: 16px;
}
.addto__link .icon-hover__active {opacity: 1;}
.addto__link .icon-hover__inert {opacity: 0;}
.addto__link.is-empty .icon-hover__active {opacity: 0;}
.addto__link.is-empty .icon-hover__inert {opacity: 1;}
.addto__count {
	position: absolute;
	top: -6px;
	right: -12px;
	color: var(--color-secondary);
	font-size: var(--text-size-regular);
	line-height: var(--text-height-medium);
}
.is-empty .addto__count {display: none;}
@media all and (max-width: 1439px) {
	.header__addto {margin-left: 24px;}
	.addto__link {flex-direction: column;font-size: var(--text-size-regular);}
	.addto__link.login {display: none;}
}
@media all and (max-width: 1023px) {
	.header__addto {display: none;}
}

/* Шапка. Доставка */
.header__delivery-svg--mobile {display: none;}
@media all and (max-width: 1919px) {
	.header__delivery-button {padding-inline: 24px;}
	.header__delivery-svg--desktop {display: none;}
}
@media all and (max-width: 1439px) {
	.header__delivery-svg--mobile {display: block;}
	.header__delivery-button {padding-inline: 12px;}
	.header__delivery-button span {display: none;}
}
@media all and (max-width: 1023px) {
	.header__delivery {display: none;}
}


/* Шапка. Логотип */
@media all and (max-width: 479px) {
	.header__logo {max-width: 140px;max-height: 40px;}
}
@media all and (min-width: 480px) and (max-width: 1023px) {
	.header__logo {max-width: 166px;max-height: 47px;}
}
@media all and (min-width: 1024px) {
	.header__logo {max-width: 215px;max-height: 62px;}
}


/* Шапка. Меню */
.mainnav {position: relative;}
.mainnav__list {
	display: flex;
	align-items: center;
	width: 160px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}
.mainnav__link {padding-inline: 20px;white-space: nowrap;}
.is-opened .mainnav__item--more button {color: var(--color-secondary);}
.is-opened .mainnav__item--more svg {transform: rotate(180deg);}
.mainnav__dropdown {
	position: absolute;
	left: 0;
	z-index: 6;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 160px;
	margin: 12px 0 0;
	padding: 16px 0;
	list-style: none;
	background-color: white;
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);
	transform: scale(1, 0);
	transform-origin: right top;
	transition: transform var(--duration);
}
.mainnav.is-opened .mainnav__dropdown, .mainnav__dropdown.is-opened {transform: scale(1);}
@media all and (min-width: 1440px) {
	.mainnav__list {width: 480px;}
}
@media all and (min-width: 1024px) {
	.header__menu {display: none;}
}

/* Шапка. Поиск */
.search__form {position: relative;display: flex;align-items: center;text-align: left;}
.search__form button {position: absolute;height: 100%;}
.search__form button svg {flex-shrink: 0;}
.search__submit {right: 0;pointer-events: none;padding-inline: 16px;}
.search--success .search__submit {pointer-events: all;}
.search__submit svg {display: none;}
.search__reset {right: 88px;width: 16px;opacity: 0;pointer-events: none;}
.search--filled .search__reset {opacity: 1;pointer-events: all;}
.search__loader {position: absolute;top: 16px;right: 120px;opacity: 0;}
.search__loader span {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0;
	border: 2px solid;
	border-color: var(--color-gray) transparent transparent transparent;
	border-radius: 100%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.search__loader span:nth-child(1) {animation-delay: -0.45s;}
.search__loader span:nth-child(2) {animation-delay: -0.3s;}
.search__loader span:nth-child(3) {animation-delay: -0.15s;}
.search--loading .search__loader {opacity: 1;}
.search__input {padding-inline: 48px;font-size: var(--text-size-regular);}
.search__label {position: absolute;top: 18px;left: 16px;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@media all and (min-width: 1024px) {
	.search {flex-grow: 1;text-align: right;}
	.search__icon {display: none;}
}
@media all and (min-width: 1920px) {
	.header__search {width: 490px;}
}
@media all and (max-width: 1023px) {
	.search__form {display: none;}
}
.search__results {display: none;}

/*
** Каталог
*/
#catalog {padding-block: 16px;}
#catalog .mainnav__list {margin-inline: -16px;width: 100%;}
.catalog__mainnav .mainnav__link {font-size: var(--text-size-large);line-height: var(--text-height-large);}
@media all and (max-width: 1023px) {
	#catalog {display: none;}
}

/*
** Слайдер
*/
.slideshow__item {color: var(--color-text-secondary);background-color: #D1ECD9;}
.slideshow__inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 320px;
	padding-block: 20px 8px;
}
.slideshow__content {position: relative;z-index: 1;}
.slideshow__subtitle {margin-top: 6px;font-size: var(--heading-06);line-height: 22px;}
@media all and (min-width: 480px) {
	.slideshow__inner {align-items: center;height: 186px;padding: 0 40px;}
	.slideshow__content {max-width: 300px;}
	.slideshow__image {position: absolute;right: 0;max-width: 63%;}
	#slideshow :is(.swiper-button-next, .swiper-button-prev) {--swiper-navigation-size: 20px;--swiper-navigation-sides-offset: 16px;}
}
@media all and (min-width: 640px) and (max-width: 1023px) {
	.slideshow__inner {height: 228px;}
	.slideshow__title {font-size: var(--heading-02);}
}
@media all and (min-width: 768px) {
	.slideshow__image {max-width: 52%;}
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
	.slideshow__inner {height: 298px;padding-inline: 64px;}
	.slideshow__title {font-size: 44px;}
	.slideshow__subtitle {margin-top: 12px;font-size: 20px;line-height: 24px;}
	.slideshow__button {margin-top: 18px;}
	.slideshow__content {max-width: 400px;}
	#slideshow :is(.swiper-button-next, .swiper-button-prev) {--swiper-navigation-size: 32px;--swiper-navigation-sides-offset: 24px;}
}
@media all and (min-width: 1440px) and (max-width: 1919px) {
	.slideshow__inner {height: 400px;padding-inline: 76px;}
	.slideshow__title {font-size: 48px;}
	.slideshow__subtitle {margin-top: 16px;font-size: 22px;line-height: 26px;}
	.slideshow__image {right: 5%;max-width: 54%;}
	.slideshow__button {margin-top: 20px;}
	.slideshow__content {max-width: 420px;}
	#slideshow :is(.swiper-button-next, .swiper-button-prev) {--swiper-navigation-size: 32px;--swiper-navigation-sides-offset: 24px;}
}
@media all and (min-width: 1920px) {
	.slideshow__inner {height: 500px;padding-inline: 0;}
	.slideshow__title {font-size: 60px;}
	.slideshow__subtitle {margin-top: 16px;font-size: 32px;line-height: 38px;}
	.slideshow__button {margin-top: 24px;font-size: 22px;line-height: 24px;}
	.slideshow__image {right: 2%;}
	.slideshow__content {max-width: 520px;}
	#slideshow :is(.swiper-button-next, .swiper-button-prev) {--swiper-navigation-sides-offset: 48px;}
}
@media all and (max-width: 1023px) {
	.slideshow__button {margin-top: 10px;}
}
@media all and (max-width: 479px) {
	#slideshow :is(.swiper-button-next, .swiper-button-prev) {display: none;}
	.slideshow__button {font-size: var(--text-size-medium);}
}

/*
** Каталог
*/
.categories__grid + .products__container {margin-top: 32px;}
.categories__item {
	position: relative;
	padding: 12px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	transition: border-color var(--duration);
}
.categories__item:hover {border-color: var(--color-border);}
.categories__images {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: var(--border-radius);
	aspect-ratio: 1 / 1;
}
.categories__images::after {position: absolute;z-index: 2;content: '';inset: 0;}
.categories__name {margin-top: 12px;font-size: var(--text-size-large);line-height: var(--text-height-large);text-align: center;}
.categories__name span {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow-wrap: anywhere;
	hyphens: auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
@media (hover: hover) and (pointer: fine) {
	.categories__item:hover .categories__name {color: var(--color-secondary);}
}

/*
** Преимущества
*/
.advantages__items {display: grid;grid-template-columns: repeat(4, 1fr);gap: 16px;}
.advantages__item {
	position: relative;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	background-color: rgb(241 189 188 / 40%);
	border-radius: var(--border-radius);
}
.advantages__title {max-width: 230px;}
.advantages__icon {flex-shrink: 0;}
@media all and (max-width: 1439px) {
	.advantages__item {flex-direction: column;}
	.advantages__title {order: 2;font-size: var(--heading-05);text-align: center;}
}
@media all and (min-width: 1440px) {
	.advantages__items {gap: 32px;}
}

/*
** Баннеры
*/
.banners__items {display: grid;grid-template-columns: repeat(3, 1fr);gap: 32px;}
.banners__item:nth-child(1) {background-color: #D8DFFF;}
.banners__item:nth-child(2) {background-color: rgb(241 189 188 / 40%);;}
.banners__item:nth-child(3) {background-color: #E6EAFB;}
.banners__item {
	position: relative;
	display: flex;
	padding: 30px;
	overflow: hidden;
	border-radius: var(--border-radius);
}
.banners__content {position: relative;z-index: 1;}
.banners__image {position: absolute;top: 16px;right: 16px;}
.banners__title {font-size: 18px;line-height: 22px;}
.banners__subtitle {margin-top: 8px;font-size: 14px;}
@media all and (min-width: 768px) {
	.banners__title {font-size: 20px;line-height: 25px;}
	.banners__subtitle {font-size: 16px;line-height: 20px;}
}
@media all and (min-width: 1440px) {
	.banners__title {font-size: 28px;line-height: 34px;}
	.banners__subtitle {font-size: 20px;line-height: 24px;}
	.banners__content {max-width: 256px;}
	.banners__image {max-width: 44%;}
	.banners__button {margin-top: 8px;}
}
@media all and (min-width: 1920px) {
	.banners__title {font-size: 36px;line-height: 44px;}
	.banners__content {max-width: 300px;}
	.banners__image {max-width: 100%;}
	.banners__subtitle {margin-top: 16px;}
	.banners__button {margin-top: 16px;}
}

/*
** Преимущества
*/
.advantage__items {display: grid;grid-template-columns: repeat(2, 1fr);gap: 24px;}
.advantage__item {
	display: flex;
	flex-flow: column wrap;
	gap: 12px;
	align-items: center;
	text-align: center;
}
.advantage__title {font-weight: bold;font-size: var(--text-size-medium);font-family: var(--font-secondary);line-height: var(--text-height-medium);}
.advantage__text {margin: 0;font-size: var(--text-size-medium);line-height: var(--text-height-medium);}
.advantage__icon {flex-shrink: 0;}
@media all and (min-width: 480px) {
	.advantage__items {row-gap: 32px;}
	.advantage__item {flex-flow: row nowrap;gap: 16px;text-align: left;}
}
@media all and (min-width: 640px) {
	.advantage__items {grid-template-columns: repeat(4, 1fr);}
	.advantage__item {flex-direction: column;gap: 12px;align-items: flex-start;text-align: left;}
}
@media all and (min-width: 1024px) {
	.advantage__item {gap: 24px;}
	.advantage__text {margin-top: -10px;font-size: var(--text-size-large);line-height: var(--text-height-large);}
	.advantage__icon {width: 70px;height: 70px;}
	.advantage__title {font-size: var(--heading-05);}
}
@media all and (min-width: 1440px) {
	.advantage__items {grid-template-columns: repeat(2, 1fr);gap: 32px;}
}
@media all and (min-width: 1920px) {
	.advantage__items {gap: 48px 120px;}
	.advantage__title {margin-top: 24px;font-size: var(--heading-04);}
}
@media all and (max-width: 767px) {
	.advantage__text {display: none;}
}

/*
** Описание на главной
*/
.main__inner {display: flex;flex-wrap: wrap;row-gap: 40px;align-items: flex-start;}
.main__desc {flex-shrink: 0;width: 100%;padding-right: 120px;}
.main__desc .headline__title {font-size: var(--heading-01);}
.main__advantage {flex-grow: 1;}
@media all and (min-width: 1440px) {
	.main__desc {width: 50%;}
	.main__advantage {width: 50%;}
}
@media all and (min-width: 1920px) {
	.main__desc {width: 40%;}
	.main__advantage {width: 60%;}
}

/*
** Подвал
*/
.footer__inner {display: grid;grid-template-columns: 100%;gap: 20px;}
.footer__title {margin-bottom: 10px;font-size: var(--heading-06);}
.footer__links {margin: 0;padding: 0;list-style: none;}
.footer__link {display: block;font-size: var(--text-size-medium);line-height: 32px;}
.footer-contacts__label {line-height: 32px;}
.footer-contacts__callback {
	margin-top: 16px;
	color: var(--color-primary);
	font-weight: bold;
	font-size: var(--text-size-regular);
	font-family: var(--font-secondary);
}
.footer-contacts__item:not(:first-child) {margin-top: 20px;}
.footer-contacts__phones a {display: flex;}
.footer-about__contacts {margin-bottom: 24px;}
.payments__links {display: flex;flex-wrap: wrap;gap: 16px;}
.footer__top {padding-top: 40px;}
.footer__bottom {margin-top: 20px;border-top: 1px solid var(--color-border);}
@media all and (min-width: 480px) {
	.footer__inner {grid-template-columns: repeat(2, 1fr);}
	.footer__title {margin-bottom: 16px;font-size: var(--heading-05);line-height: 24px;}
	.footer__bottom {margin-top: 32px;}
}
@media all and (min-width: 640px) and (max-width: 1023px) {
	.footer__inner {grid-template-columns: repeat(3, 1fr);}
	.footer-about {display: grid;grid-column: 1 / 4;grid-template-columns: inherit;gap: 20px;}
	.footer-about__item:nth-child(2) {grid-column: 3 / 4;}
}
@media all and (min-width: 768px) {
	.footer__inner, .footer-about {gap: 32px;}
}
@media all and (min-width: 1024px) {
	.footer__inner {grid-template-columns: repeat(4, 1fr);}
}

/*
** Подписаться
*/
#subscribe {background-color: #C0E8CC;padding-block: 48px;}
.subscribe__items {display: grid;grid-template-columns: repeat(3, 1fr);gap: 32px;}
.subscribe__title {margin-bottom: 24px;font-size: var(--heading-01);}
.subscribe__subtitle {margin-top: 8px;}
.subscribe__text {margin-block: 12px 16px;font-size: var(--text-size-large);}
.subscribe__bottom {margin-top: 48px;padding-top: 48px;border-top: 1px solid var(--color-border);}
.subscribe__form {display: grid;grid-template-columns: 228px 484px 240px;gap: 16px;align-items: center;}
.subscribe__form .form__pp {font-size: var(--text-size-regular);line-height: var(--text-height-regular);}
.subscribe__form .form__text {font-size: var(--text-size-large);}
.subscribe__form .form__input {font-size: var(--text-size-large);}
.social__links {
	display: flex;
	gap: 12px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.social__link span {display: none;}
@media all and (min-width: 1440px) {
	.subscribe__form {grid-template-columns: 230px 480px 240px 300px;gap: 48px;}
}
@media all and (min-width: 1920px) {
	.subscribe__form {grid-template-columns: 452px 490px 240px 300px;}
}


/*
** Новости
*/
.news__item {position: relative;}
.news__images {
	position: relative;
	display: flex;
	margin-bottom: 16px;
	overflow: hidden;
	border-radius: var(--border-radius);
	aspect-ratio: 1.73 / 1;
}
.news__title {display: block;}
.news__title h3 {
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.2;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.news__desc {margin-block: 12px;font-size: var(--text-size-large);line-height: var(--text-height-large);}
.news__desc span {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.news__date {
	position: absolute;
	top: 16px;
	left: 16px;
	padding: 6px 12px;
	color: white;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
}

/*
** Табы
*/
.headline--tabs {margin-bottom: 32px;}
.tabs {display: flex;gap: 32px;}
.tabs__link {font-weight: bold;font-size: var(--heading-03);opacity: 0.5;}
.tabs__link.is-active, .tabs__link:active {color: var(--color-text-secondary);opacity: 1;}
@media (hover: hover) and (pointer: fine) {
	.tabs__link:hover {color: var(--color-text-secondary);opacity: 1;}
}


/*
** Товарная карточка
*/
.product__item {
	position: relative;
	padding: 12px;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	transition: border-color var(--duration);
}
.product__item:active {border-color: var(--color-border);border-bottom-color: transparent;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.is-loading .product__item {display: inline-block;}
.product__images {position: relative;margin-bottom: 20px;}
.product__image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #CDC6CE40;
	border-radius: var(--border-radius);
	aspect-ratio: 1.4 / 1;
}
.product__shop {position: relative;}
.product__name {
	display: block;
	overflow: hidden;
	font-size: var(--text-size-large);
	line-height: var(--text-height-large);
}
.product__name span {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow-wrap: anywhere;
	hyphens: auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.product__price {display: flex;gap: 8px 16px;margin-top: 12px;}
.price__now {color: var(--color-error);font-size: var(--text-size-large);font-family: var(--font-secondary);}
.price__old {order: 2;font-size: var(--text-size-medium);font-family: var(--font-secondary);opacity: 0.5;}
.product__sticker {position: absolute;right: 12px;bottom: -8px;}
.product__links {position: absolute;top: 8px;right: 8px;}
.product__link {display: block;padding: 8px;}
.product__link:active {color: var(--color-text-primary);}
.product__link span {display: none;}
.product__cart {margin-top: 12px;text-align: center;}
.product__add {width: 100%;font-size: var(--text-size-large);}
.product__more {display: block;margin-top: 12px;}
.product__ratings {margin-top: 16px;}
.product__attr {margin-block: 16px;}
.product__attr-item {display: flex;gap: 10px;font-size: var(--text-size-regular);}
.product__attr-item:not(:first-child) {margin-top: 12px;}
.product__attr-item dt {opacity: 0.5;}
.product__attr-item dd {margin: 0;}
.product__addto {
	position: absolute;
	bottom: 0;
	left: -13px;
	z-index: 2;
	width: calc(100% + 26px);
	padding: 0 12px 12px;
	background-color: white;
	border: 1px solid var(--color-border);
	border-top: 0;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	transform: scale(1, 0);
	transform-origin: right top;
	transition: translate var(--duration), transform var(--duration);
	translate: 0 100%;
}
.product__item:active .product__addto {transform: scale(1, 1);}
.product__date {
	position: absolute;
	bottom: -8px;
	left: 12px;
	display: flex;
	gap: 3px;
	align-items: center;
	padding: 4px 8px;
	color: white;
	font-weight: bold;
	font-size: var(--text-size-small);
	background: var(--color-error);
	border-radius: var(--border-radius);
	fill: currentcolor;
}

/* .product__name::before {
	position: absolute;
	content: '';
	inset: 0;
} */
@media (hover: hover) and (pointer: fine) {
	.product__item:hover {border-color: var(--color-border);border-bottom-color: transparent;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
	.product__link:hover {color: var(--color-text-primary);}
	.product__item:hover .product__addto {transform: scale(1, 1);}
}


/*
** Товары таблицей
*/
.products__grid {display: grid;grid-template-columns: repeat(4, 1fr);gap: 12px;}
.products__grid.swiper-wrapper {gap: 0;}


/*
** Товары таблицей в Слайдере
*/
.swiper--products.swiper {margin-bottom: -210px;}
.swiper--products.swiper:hover {z-index: 2;}
.swiper--products .swiper-wrapper {padding-bottom:210px;}


/*
** Вы смотрели
*/
#viewed .product__attr {display: none;}

.section {display: none !important;}