/*
** Основные переменные шаблона
*/
:root {
	--color-primary: #657984;
	--color-secondary: #B78D70;
	--color-tertiary: #F1BDBC;
	--color-disabled: #CDC6CE;
	--color-shadow: #49525720;
	--color-border: #CDC6CE;
	--color-border-secondary: rgb(205 198 206 / 50%);
	--color-gray: #B6C2CE;
	--color-error: #F9504D;
	--color-text-primary: #635258;
	--color-text-secondary: #423B3D;
	--scrollbar-width: 16px;
	--scrollbar-width-thin: 8px;
	--transition: all 300ms ease;
	--duration: 300ms;
	--border-radius: 4px;
	--font-primary: 'Jost', 'Arial', sans-serif;
	--font-secondary: 'Gilroy', 'Jost', 'Arial', sans-serif;

	/* Глобальные настройки переменных */
	--button-small: 32px;
	--button-medium: 40px;
	--button-large: 48px;
	--button-x-large: 52px;
	--text-size-small: 12px;
	--text-size-regular: 14px;
	--text-size-medium: 16px;
	--text-size-large: 18px;
	--text-height-small: 16px;
	--text-height-regular: 18px;
	--text-height-medium: 20px;
	--text-height-large: 24px;
	--icon-size-small: 14px;
	--icon-size-regular: 16px;
	--icon-size-medium: 20px;
	--icon-size-large: 24px;
	--heading-01: 36px;
	--heading-02: 32px;
	--heading-03: 24px;
	--heading-04: 20px;
	--heading-05: 18px;
	--heading-06: 16px;
}

/*
** Скеции
*/
.section {margin-block: 64px;}

/*
** Заголовки основных блоков
*/
.headline {margin-bottom: 32px;}
.headline nav {margin-bottom: 12px;}
.headline__title {font-size: var(--heading-03);}
.headline__title small {font-size: var(--text-size-regular);white-space: nowrap;text-transform: lowercase;}
.headline--navigation {display: flex;gap: 12px;align-items: center;justify-content: space-between;}
.headline--navigation .swiper-navigation {display: flex;width: 96px;}

/*
** Наведение на иконки 
*/
.icon-hover__active {opacity: 0;}
.icon-hover__active, .icon-hover__inert {transition: opacity var(--duration);}
.icon-hover:active .icon-hover__active {opacity: 1;}
.icon-hover:active .icon-hover__inert {opacity: 0;}
@media (hover: hover) and (pointer: fine) {
	.icon-hover:hover .icon-hover__active {opacity: 1;}
	.icon-hover:hover .icon-hover__inert {opacity: 0;}
}

/*
** Шапка
*/
#header {padding-block: 16px 12px;border-bottom: 1px solid var(--color-border);}
.header__inner {display: flex;flex-wrap: wrap;gap: 16px 40px;align-items: center;}
.header__inner--middle {padding-top: 16px;}
.header__inner--bottom {padding-top: 16px;}
.header__slogan {margin-right: auto;}
.header__contacts {display: flex;gap: 16px;}
.header__contacts .contacts__link {font-weight: bold;font-size: var(--text-size-large);font-family: var(--font-secondary);line-height: var(--text-height-large);}
.header__addto {display: flex;align-items: center;margin-left: auto;column-gap: 32px;}
.addto__link {
	position: relative;
	display: flex;
	align-items: center;
	font-size: var(--text-size-large);
	line-height: var(--text-height-large);
	column-gap: 16px;
}
.addto__count {
	position: absolute;
	top: -6px;
	right: -12px;
	color: var(--color-secondary);
	font-size: var(--text-size-regular);
	line-height: var(--text-height-medium);
}
.is-empty .addto__count {display: none;}




/* Шапка. Меню */
.mainnav {position: relative;}
.mainnav__list {
	display: flex;
	align-items: center;
	width: 480px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}
.mainnav__link {padding-inline: 20px;white-space: nowrap;}
.is-opened .mainnav__item--more button {color: var(--color-secondary);}
.is-opened .mainnav__item--more svg {transform: rotate(180deg);}
.mainnav__dropdown {
	position: absolute;
	left: 0;
	z-index: 6;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 160px;
	margin: 12px 0 0;
	padding: 16px 0;
	list-style: none;
	background-color: white;
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);
	transform: scale(1, 0);
	transform-origin: right top;
	transition: transform var(--duration);
}
.mainnav.is-opened .mainnav__dropdown, .mainnav__dropdown.is-opened {transform: scale(1);}

/* Шапка. Поиск */
.header__search {width: 490px;}
.search {flex-grow: 1;text-align: right;}
.search__form {position: relative;display: flex;align-items: center;text-align: left;}
.search__form button {position: absolute;height: 100%;}
.search__form button svg {flex-shrink: 0;}
.search__icon {
	width: 40px;
	height: 40px;
	padding: 0;
	color: var(--color-gray);
	background-color: white;
	border-color: var(--color-border);
}
.search__submit {right: 0;pointer-events: none;padding-inline: 16px;}
.search--success .search__submit {pointer-events: all;}
.search__submit svg {display: none;}
.search__reset {right: 88px;width: 16px;opacity: 0;pointer-events: none;}
.search--filled .search__reset {opacity: 1;pointer-events: all;}
.search__loader {position: absolute;top: 16px;right: 120px;opacity: 0;}
.search__loader span {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0;
	border: 2px solid;
	border-color: var(--color-gray) transparent transparent transparent;
	border-radius: 100%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.search__loader span:nth-child(1) {animation-delay: -0.45s;}
.search__loader span:nth-child(2) {animation-delay: -0.3s;}
.search__loader span:nth-child(3) {animation-delay: -0.15s;}
.search--loading .search__loader {opacity: 1;}
.search__input {padding-inline: 48px;font-size: var(--text-size-regular);}
.search__label {position: absolute;left: 16px;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@media all and (min-width: 480px) {
	.search__icon {display: none;}
}
.search__results {display: none;}

/*
** Каталог
*/
#catalog {padding-block: 16px;}
#catalog .mainnav__list {margin-inline: -16px;width: 100%;}
.catalog__mainnav .mainnav__link {font-size: var(--text-size-large);line-height: var(--text-height-large);}

/*
** Слайдер
*/
.slideshow__item {color: var(--color-text-secondary);background-color: #D1ECD9;}
.slideshow__inner {display: flex;align-items: center;height: 500px;}
.slideshow__content {position: relative;z-index: 1;max-width: 520px;}
.slideshow__title {font-weight: bold;font-size: 60px;}
.slideshow__subtitle {margin-top: 12px;font-weight: normal;font-size: 32px;line-height: 38px;}
.slideshow__button {margin-top: 24px;font-size: 22px;}
.slideshow__image {position: absolute;right: 0;}

/*
** Каталог
*/
.categories__grid + .products__container {margin-top: 32px;}
.categories__item {
	position: relative;
	padding: 12px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	transition: border-color var(--duration);
}
.categories__item:hover {border-color: var(--color-border);}
.categories__images {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: var(--border-radius);
	aspect-ratio: 1 / 1;
}
.categories__images::after {position: absolute;z-index: 2;content: '';inset: 0;}
.categories__name {margin-top: 12px;font-size: var(--text-size-large);line-height: var(--text-height-large);text-align: center;}
.categories__name span {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow-wrap: anywhere;
	hyphens: auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
@media (hover: hover) and (pointer: fine) {
	.categories__item:hover .categories__name {color: var(--color-secondary);}
}

/*
** Преимущества
*/
.advantages__items {display: grid;grid-template-columns: repeat(4, 1fr);gap: 32px;}
.advantages__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	background-color: rgb(241 189 188 / 40%);
	border-radius: var(--border-radius);
}
.advantages__title {max-width: 230px;}
.advantages__icon {flex-shrink: 0;}

/*
** Баннеры
*/
.banners__items {display: grid;grid-template-columns: repeat(3, 1fr);gap: 32px;}
.banners__item:nth-child(1) {background-color: #D8DFFF;}
.banners__item:nth-child(2) {background-color: rgb(241 189 188 / 40%);;}
.banners__item:nth-child(3) {background-color: #E6EAFB;}
.banners__item {
	position: relative;
	display: flex;
	padding: 30px;
	overflow: hidden;
	border-radius: var(--border-radius);
}
.banners__content {position: relative;z-index: 1;max-width: 300px;}
.banners__image {position: absolute;top: 16px;right: 16px;}
.banners__title {font-size: 36px;line-height: 44px;}
.banners__subtitle {margin-top: 16px;font-size: 20px;}
.banners__button {margin-top: 16px;}

/*
** Преимущества
*/
.advantage__items {display: grid;grid-template-columns: repeat(2, 1fr);gap: 50px 168px;}
.advantage__title {margin-top: 24px;font-weight: bold;font-size: var(--heading-04);}
.advantage__text {margin: 12px 0 0;font-size: var(--text-size-large);line-height: var(--text-height-large);}

/*
** Описание на главной
*/
.main__inner {display: flex;gap: 168px;align-items: flex-start;}
.main__desc {flex-shrink: 0;width: 520px;}
.main__desc .headline__title {font-size: var(--heading-01);}
.main__advantage {flex-grow: 1;}

/*
** Подвал
*/
.footer__inner {display: grid;grid-template-columns: repeat(4, 1fr);gap: 32px;}
.footer__title {margin-bottom: 16px;}
.footer__links {margin: 0;padding: 0;list-style: none;}
.footer__link {display: block;font-size: var(--text-size-medium);line-height: 32px;}
.footer-contacts__label {line-height: 32px;}
.footer-contacts__callback {
	margin-top: 16px;
	color: var(--color-primary);
	font-weight: bold;
	font-size: var(--text-size-regular);
	font-family: var(--font-secondary);
}
.footer-contacts__item:not(:first-child) {margin-top: 16px;}
.footer-contacts__phones a {display: flex;}
.footer-about__item {margin-bottom: 24px;}
.payments__links {display: flex;gap: 16px;}
.footer__bottom {margin-top: 40px;padding-top: 16px;border-top: 1px solid var(--color-border);}

/*
** Подписаться
*/
#subscribe {background-color: #C0E8CC;padding-block: 48px;}
.subscribe__items {display: grid;grid-template-columns: repeat(3, 1fr);gap: 32px;}
.subscribe__title {margin-bottom: 24px;font-size: var(--heading-01);}
.subscribe__subtitle {margin-top: 8px;}
.subscribe__text {margin-block: 12px 16px;font-size: var(--text-size-large);}
.subscribe__bottom {margin-top: 48px;padding-top: 48px;border-top: 1px solid var(--color-border);}
.subscribe__form {display: grid;grid-template-columns: 452px 490px 240px 300px; gap: 48px;align-items: center;}
.subscribe__form .form__pp {font-size: var(--text-size-regular);line-height: var(--text-height-regular);}
.subscribe__form .form__text {font-size: var(--text-size-large);}
.subscribe__form .form__input {font-size: var(--text-size-large);}
.social__links {
	display: flex;
	gap: 12px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.social__link span {display: none;}

/*
** Новости
*/
.news__item {position: relative;}
.news__images {
	position: relative;
	display: flex;
	margin-bottom: 16px;
	overflow: hidden;
	border-radius: var(--border-radius);
	aspect-ratio: 1.73 / 1;
}
.news__title {display: block;}
.news__title h3 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.news__desc {margin-block: 12px;font-size: var(--text-size-large);line-height: var(--text-height-large);}
.news__desc span {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.news__date {
	position: absolute;
	top: 16px;
	left: 16px;
	padding: 6px 12px;
	color: white;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
}

/*
** Табы
*/
.tabs {display: flex;gap: 32px;}
.tabs__link {font-weight: bold;font-size: var(--heading-03);opacity: 0.5;}
.tabs__link.is-active, .tabs__link:active {color: var(--color-text-secondary);opacity: 1;}
@media (hover: hover) and (pointer: fine) {
	.tabs__link:hover {color: var(--color-text-secondary);opacity: 1;}
}


/*
** Товарная карточка
*/
.product__item {
	position: relative;
	padding: 12px;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	transition: border-color var(--duration);
}
.product__item:active {border-color: var(--color-border);border-bottom-color: transparent;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.is-loading .product__item {display: inline-block;}
.product__images {position: relative;margin-bottom: 20px;}
.product__image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #CDC6CE40;
	border-radius: var(--border-radius);
	aspect-ratio: 1.4 / 1;
}
.product__shop {position: relative;}
.product__name {
	display: block;
	overflow: hidden;
	font-size: var(--text-size-large);
	line-height: var(--text-height-large);
}
.product__name span {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow-wrap: anywhere;
	hyphens: auto;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.product__price {display: flex;gap: 8px 16px;margin-top: 12px;}
.price__now {color: var(--color-error);font-size: var(--text-size-large);font-family: var(--font-secondary);}
.price__old {order: 2;font-size: var(--text-size-medium);font-family: var(--font-secondary);opacity: 0.5;}
.product__sticker {position: absolute;right: 12px;bottom: -8px;}
.product__links {position: absolute;top: 8px;right: 8px;}
.product__link {display: block;padding: 8px;color: var(--color-text-primary);}
.product__link:active {color: var(--color-text-primary);}
.product__link span {display: none;}
.product__cart {margin-top: 12px;text-align: center;}
.product__add {width: 100%;font-size: var(--text-size-large);}
.product__more {display: block;margin-top: 12px;}
.product__ratings {margin-top: 16px;}
.product__attr {margin-block: 16px;}
.product__attr-item {display: flex;gap: 10px;font-size: var(--text-size-regular);}
.product__attr-item:not(:first-child) {margin-top: 12px;}
.product__attr-item dt {opacity: 0.5;}
.product__attr-item dd {margin: 0;}
.product__addto {
	position: absolute;
	bottom: 0;
	left: -13px;
	z-index: 2;
	width: calc(100% + 26px);
	padding: 0 12px 12px;
	background-color: white;
	border: 1px solid var(--color-border);
	border-top: 0;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	transform: scale(1, 0);
	transform-origin: right top;
	transition: translate var(--duration), transform var(--duration);
	translate: 0 100%;
}
.product__item:active .product__addto {transform: scale(1, 1);}

/* .product__name::before {
	position: absolute;
	content: '';
	inset: 0;
} */
@media (hover: hover) and (pointer: fine) {
	.product__item:hover {border-color: var(--color-border);border-bottom-color: transparent;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
	.product__link:hover {color: var(--color-text-primary);}
	.product__item:hover .product__addto {transform: scale(1, 1);}
}

#pdtBest .swiper-wrapper {padding-bottom: 210px;}
#pdtBest .swiper {margin-bottom: -210px;}